/*
Theme Name: Twenty Twenty-Three-child
Theme URI: https://wordpress.org/themes/twentytwentythree
Author: Petr Vrubel
Author URI: https://vrubel.online
Description: Twenty Twenty-Three is designed to take advantage of the new design tools introduced in WordPress 6.1. With a clean, blank base as a starting point, this default theme includes ten diverse style variations created by members of the WordPress community. Whether you want to build a complex or incredibly simple website, you can do it quickly and intuitively through the bundled styles or dive into creation and full customization yourself.
Requires at least: 6.1
Tested up to: 6.3
Requires PHP: 5.6
Version: 1.3.1
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: twentytwentythree
Template: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, style-variations, accessibility-ready, blog, portfolio, news
*/

.button.is-primary.is-hovered, .button.is-primary:hover {
	background-color: #046cb3!important;
}

.button.is-primary {
	background-color: #0199FF!important;
}

.thet-post-content-wrapper {
	min-height: 80vh!important;
}

.thet-wp-button {
  transition: all 0.5s;
}

.thet-wp-button:hover {
  background-color:  #c7c7c7
}
